@import 
url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// fonts

$font: 'Roboto', sans-serif;
 

// color

$bg-body: #8e8e93;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: $bg-body;
    font-family: $font;
    padding: 30px;
    color: white;
}


.container{
    background: #054244;
    max-width: 1560px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo{
        margin-left: 40px;
    }
}

.nav{
    &__ul{
        display: flex; 
        list-style-type: none;
    }

    li{
        width: 67px;
        height: 67px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 10px;
    }

    



    li:nth-child(1){
        background: url('./img/house.svg') no-repeat top 11px left 7px;
        background-size: 23px;
    }

    li:nth-child(2){
        background: url('./img/user.svg') no-repeat top 11px left 7px;
        background-size: 23px;
    }

    li:nth-child(3){
        background: url('./img/folder.svg') no-repeat top 11px left 9px;
        background-size: 23px;
    }

    li:nth-child(4){
        background: url('./img/sms.svg') no-repeat top 11px left 8px;
        background-size: 23px;
    }


    li:hover{
        background-color: rgba(190, 190, 190, 0.83);
        border-radius: 9px;
    }
    
    &__item{
        margin-right: 35px;
        >a{
            text-decoration: none;
            text-transform: uppercase;
            color: white;
        }
    }
}





.hero{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__text{
        flex-basis: 45%;
    }


    &__title{
        font-size: 64px;
        line-height: 82px;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    &__descr{
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 40px;
    }

    &__btn{
        border: none;
        border-radius: 8px;
        padding: 10px 25px;
    }


    &__img{
        height: 600px;
        flex-basis: 45%;
        background: #000;
    }
}